#home {
    text-align: center;

    h1.title {
        color: $brand_color;
        border: 4px solid $brand_color;
        border-radius: 0em 1em 0em 0em;
        letter-spacing: -0.065em;
        width: fit-content;
        margin: 0 auto;
        padding: 0.25em 1em;

        // & > span {
        //     color: $secondary_color;
        // }
    }

    .subtitle {
        text-transform: lowercase;
        color: #696969;
    }

    .search-field {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        background: #fff;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.25);
        border-radius: 5em;

        margin-top: 100px;

        input[type=search]{
            width: 100%;
            background: none;
            padding: 1em 0.75em 1em 1.5em;
        }

        & > button {
            background: #fff;
            border: none;
            border-radius: 5em;
            height: 5em;
            padding: 1em 4em;
            position: relative;
            left: -0.5em;
            top: 0.35em;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.25);

            &:active {
                background: #f3f3f3;
            }
        }
    }

    .credit {
        margin-top: 100px;
        letter-spacing: -0.05em;

        & > a {
            font-weight: 700;
            font-size: 1.5em;
            letter-spacing: -0.07em;
        }
    }
}