#home {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 2.5fr 5fr 2.5fr;
    height: 100%;
    max-width: 650px;

    & > header {
        display: flex;
        align-items: flex-end;
        text-align: center;

        & > h1 {
            margin: 0 auto;
            letter-spacing: -0.05em;
            line-height: 110%;
        }
    }

    & > section.body {
        display: flex;
        align-items: center;

        & img.art {
            width: 100%;
            height: auto;
            max-height: 300px;

            grid-column-start: 1;
            grid-column-end: 4;

            grid-row-start: 1;
            grid-row-end: 4;

            margin-top: -100px;

            &:first-child {
                width: 120%;
                margin-left: -10%;
                margin-top: -5%;
            }

            &:last-child {
                width: 90%;
                margin-left: 5%;
                margin-top: 0%;
            }
        }

        & > section#home-art {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            

            height: max-content;
            width: 100%;
        }
    }

    & > section.footer {
        button.credit {
            font-size: 0.6em;
            padding: 0.8em 0;
        }
    }
}