#home {
    text-align: center;

    h1.title {
        letter-spacing: -0.065em;
        width: fit-content;
        margin: 0 auto;
        padding: 0.25em 1em;
    }

    .subtitle {
        text-transform: lowercase;
        color: #696969;
    }

    .search-field {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: center;

        border-radius: 54px;
        background: $background_color;
        box-shadow:  7px 7px 12px #aeadb1, 
                     -7px -7px 12px #ffffff;

        margin-top: 0px;

        transition: box-shadow 0.25s ease-in-out;

        &.active {
            box-shadow:  -7px -7px 12px #aeadb1, 
                     7px 7px 12px #ffffff;

            & > button {
                box-shadow:  -3px -3px 12px #aeadb1, 
                     -7px 7px 12px $background_color;
            }
        }

        input[type=search]{
            width: 100%;
            background: none;
            padding: 1em 0.75em 1em 1.5em;
            font-weight: 500;
        }

        & > button { 
            height: 5em;
            padding: 1em 4em;
            position: relative;
            left: -0.5em;
            top: 0.35em;

            border: none;
            border-radius: 54px;
            background: linear-gradient(45deg, #ffffff, $background_color);
            box-shadow:  7px 7px 12px #aeadb1, 
                        -7px -7px 12px $background_color;

            transition: all 0.25s ease-in-out;

            &:active {
                background: #ffffff;
            }
        }
    }

    .credit {
        margin-top: 100px;
        letter-spacing: -0.05em;

        & > a {
            font-weight: 700;
            font-size: 1.5em;
            letter-spacing: -0.07em;
        }
    }
}