#resp-viewer {
    background: $background_color;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: grid;
    grid-template-rows: 1fr 6fr;
    overflow-y: scroll;

    z-index: 100;
    transition: all 0.5s ease-out;

    &.hidden {
        top: 100%;
    }

    section.header {
        text-align: center;
        padding-top: 2em;

        & > p {
            margin: 0;
        }

        & > .url {
            font-size: 1.8em;
            font-weight: 800;
            margin: 0.25em;
            margin-right: -10px;
            padding: 0.5em 0;

            background: none;
            border-radius: 0;
            text-align: center;
            font-weight: 600;
            letter-spacing: -0.05em;

            border-bottom: 2px solid rgba($color: $brand_color, $alpha: 0);
            transition: 0.25s ease-in-out;
            appearance: none;

            &:focus {
                border-bottom: 2px solid #222;
            }
        }

        & > .device-select {
            width: max-content;
            margin: 0 auto;
            padding: 1em;
            border-radius: 30px;
            background: $background_color;
            box-shadow:  7px 7px 12px #aeadb1, 
                        -7px -7px 12px #ffffff;

            position: fixed;
            bottom: calc(50% - 250px);
            right: 4em;
            z-index: 10;

            & > ul {
                // display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                & > li {
                    font-size: 0.75em;
                    letter-spacing: -0.03em;
                    cursor: pointer;
                    padding: 1em 0;
                    border-bottom: 1px solid rgb(204, 204, 204);

                    &:last-child {
                        border-bottom: none;
                    }

                    img {
                        height: 1.5em;
                    }

                    p {
                        margin: 0;
                        line-height: 150%;

                        & > span {
                            font-size: 0.9em;
                            color: grey;

                            &::before {
                                content: "\A";
                                white-space: pre;
                            }
                        }
                    }
                }
            }
        }
    }

    section.body {
        text-align: center;

        .device-preview {
            height: 100%;
            display: flex;
            justify-content: center;

            & > iframe {
                transform: scale(0.6);
                border: none;
    
                border-radius: 25px;
                box-shadow:  7px 7px 12px #89888b, 
                         -7px -7px 12px #ffffff;

                position: absolute;
                top: calc(50% - 20px);
                left: 50%;
            }
        }
    }
}