#home {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 2.5fr 5fr 2.5fr;
  height: 100%;
  max-width: 650px;
}
#home > header {
  display: flex;
  align-items: flex-end;
  text-align: center;
}
#home > header > h1 {
  margin: 0 auto;
  letter-spacing: -0.05em;
  line-height: 110%;
}
#home > section.body {
  display: flex;
  align-items: center;
}
#home > section.body img.art {
  width: 100%;
  height: auto;
  max-height: 300px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  margin-top: -100px;
}
#home > section.body img.art:first-child {
  width: 120%;
  margin-left: -10%;
  margin-top: -5%;
}
#home > section.body img.art:last-child {
  width: 90%;
  margin-left: 5%;
  margin-top: 0%;
}
#home > section.body > section#home-art {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: max-content;
  width: 100%;
}
#home > section.footer button.credit {
  font-size: 0.6em;
  padding: 0.8em 0;
}

#search {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 2.5fr 5fr 2.5fr;
  height: 100%;
  max-width: 650px;
}
#search > header {
  display: flex;
  align-items: flex-end;
  text-align: center;
}
#search > header > h1 {
  margin: 0 auto;
  letter-spacing: -0.05em;
  line-height: 100%;
}
#search > section.body {
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
}
#search > section.body > .search-field {
  background: #e3e3e3;
  border-radius: 1em;
  display: grid;
  grid-template-columns: 1.5fr 8.5fr;
  padding: 1em 1em;
  width: calc(100% - 2em);
}
#search > section.body > .search-field > input {
  font-size: 0.9em;
}
#search > section.body > .search-field > input::placeholder {
  color: #8d8d8d;
  text-transform: capitalize;
}
#search > section.body > .search-field > img {
  opacity: 0.85;
  margin: 0 auto;
}
#search > section.footer {
  display: flex;
  align-items: center;
}

#device-select {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 2.5fr 5fr 2.5fr;
  height: 100%;
  max-width: 750px;
}
#device-select > header {
  display: flex;
  align-items: flex-end;
  text-align: center;
}
#device-select > header > h1 {
  margin: 0 auto;
  margin-bottom: 1em;
  letter-spacing: -0.05em;
  line-height: 100%;
}
#device-select > section.body {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  max-width: inherit;
}
#device-select > section.body > section {
  width: 100%;
  max-width: inherit;
}
#device-select > section.body > section > h2.subtitle {
  font-size: 0.9em;
  letter-spacing: -0.05em;
  font-weight: 600;
  margin-top: 0;
}
#device-select > section.body > section > ul.device-list {
  display: -webkit-box;
  list-style: none;
  padding: 1em;
  margin: 0;
  width: 100%;
  overflow-x: scroll;
}
#device-select > section.body > section > ul.device-list::after {
  content: " ";
  padding: 0 1em;
  width: 100px;
  float: right;
}
#device-select > section.body > section > ul.device-list::-webkit-scrollbar {
  display: none;
}
#device-select > section.body > section > ul.device-list > li {
  cursor: pointer;
  display: grid;
  align-items: flex-end;
  background: #eeeeee;
  padding: 1.5em 0.75em;
  border-radius: 1em;
  margin-right: 1em;
  margin-left: -0.5em;
  text-align: center;
  transition: background 0.25s ease-in-out;
}
#device-select > section.body > section > ul.device-list > li:hover {
  background: #dbdbdb;
}
#device-select > section.body > section > ul.device-list > li.active {
  background: #F50057;
  color: #fff;
}
#device-select > section.body > section > ul.device-list > li > img {
  height: 1.5em;
  margin: 0 auto;
  margin-bottom: 0.5em;
}
#device-select > section.body > section > ul.device-list > li > h3 {
  font-size: 0.9em;
  margin: 0.25em auto 0.25em auto;
  width: 80%;
}
#device-select > section.body > section > ul.device-list > li > p {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.5em;
  margin: 0 auto;
}
#device-select > section.footer {
  display: flex;
  align-items: center;
}

#device-view {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 2.5fr 5fr 2.5fr;
  height: 100%;
  max-width: 1050px;
}
#device-view > header {
  display: flex;
  align-items: flex-end;
  text-align: center;
}
#device-view > header > h1 {
  margin: 0 auto;
  margin-bottom: 1em;
  letter-spacing: -0.05em;
  line-height: 100%;
}
#device-view > section.body {
  max-width: inherit;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#device-view > section.body > section {
  max-width: 650px;
  display: flex;
  align-items: center;
}
#device-view > section.body > section:first-child {
  justify-content: flex-end;
  padding-right: 2em;
}
#device-view > section.body > section:last-child {
  justify-content: flex-start;
  padding-left: 2em;
}
#device-view > section.body > section > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transform: scale(1.25);
}
#device-view > section.body > section > div > img, #device-view > section.body > section > div > iframe {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  margin: 0 auto 0 0;
}
#device-view > section.body > section > div > iframe {
  transform: scale(0.375);
  margin-top: -10.4em;
  margin-left: -3.15em;
  position: absolute;
  border: none;
}
#device-view > section.body > section > div > img {
  z-index: 10;
  pointer-events: none;
}
#device-view > section.footer {
  display: flex;
  align-items: center;
}

#resp-viewer {
  background: #fff;
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 1280px;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
#resp-viewer.hidden {
  top: 100%;
  opacity: 0;
}
#resp-viewer.hidden > .container #search-button, #resp-viewer.hidden > .container .url, #resp-viewer.hidden > .container .device-select {
  top: 100%;
}
#resp-viewer > .container {
  text-align: center;
}
#resp-viewer > .container .url {
  border-radius: 30px;
  background: #fff;
  box-shadow: 7px 7px 12px #00000013, -7px -7px 12px #00000013;
  cursor: pointer;
  font-weight: 500;
  position: fixed;
  padding: 1.6em;
  top: calc(50% - 290px);
  right: 4.5em;
  z-index: 11;
  height: 90px;
  width: 0px;
  transition-property: width, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
#resp-viewer > .container .url.active {
  width: 400px;
  padding: 0em 2em;
}
#resp-viewer > .container #search-button {
  border-radius: 30px;
  background: #fff;
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #ffffff;
  cursor: pointer;
  position: fixed;
  padding: 2em;
  top: calc(50% - 290px);
  right: 4.5em;
  z-index: 11;
  transition: box-shadow 0.5s ease-in-out;
}
#resp-viewer > .container #search-button:active {
  box-shadow: -7px -7px 12px #aeadb1, 7px 7px 12px #ffffff;
}
#resp-viewer > .container > .device-select {
  width: max-content;
  margin: 0 auto;
  padding: 1em;
  border-radius: 30px;
  background: #fff;
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #ffffff;
  position: fixed;
  bottom: calc(50% - 280px);
  right: 4em;
  z-index: 10;
  transition: box-shadow 0.5s ease-in-out;
}
#resp-viewer > .container > .device-select:active {
  box-shadow: -7px -7px 12px #aeadb1, 7px 7px 12px #ffffff;
}
#resp-viewer > .container > .device-select > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#resp-viewer > .container > .device-select > ul > li {
  font-size: 0.75em;
  letter-spacing: -0.03em;
  cursor: pointer;
  padding: 1em 0;
  border-bottom: 1px solid #cccccc;
}
#resp-viewer > .container > .device-select > ul > li:last-child {
  border-bottom: none;
}
#resp-viewer > .container > .device-select > ul > li.active {
  color: #4285f4;
}
#resp-viewer > .container > .device-select > ul > li img {
  height: 1.5em;
}
#resp-viewer > .container > .device-select > ul > li p {
  margin: 0;
  line-height: 150%;
}
#resp-viewer > .container > .device-select > ul > li p > span {
  font-size: 0.9em;
  color: grey;
}
#resp-viewer > .container > .device-select > ul > li p > span::before {
  content: "\a";
  white-space: pre;
}
#resp-viewer > .container .device-preview {
  height: 100%;
  display: flex;
  justify-content: center;
}
#resp-viewer > .container .device-preview > iframe {
  transform: scale(0.6);
  border: none;
  border-radius: 25px;
  box-shadow: 7px 7px 12px #89888b, -7px -7px 12px #ffffff;
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transition: all 1s ease-in-out;
}

.App, #root {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
}

body {
  background: #fff;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.05em;
  font-size: 22px;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

input[type=search] {
  background: none;
  border: none;
  font-size: 1.25em;
  font-weight: 600;
  outline: none;
  position: relative;
  top: -0.02em;
}
input[type=search], input[type=search]::placeholder {
  letter-spacing: -0.04em;
}
input[type=search]::placeholder {
  font-family: "DM Sans", sans-serif;
}

button {
  outline: none;
}

button.btn {
  border: none;
  border-radius: 1em;
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin: 0.5em auto;
  padding: 1.25em;
  text-align: center;
  transition: background ease-in-out 0.15s;
  width: 100%;
  max-width: 400px;
}

button.primary-btn {
  background-color: #F50057;
  box-shadow: 3px 3px 8px rgba(245, 0, 87, 0.4);
  color: #fff;
}
button.primary-btn:active {
  background: #bd0c4a;
}

button.secondary-btn {
  background-color: #ffffff;
  border: 2px solid #818181;
  color: #818181;
}
button.secondary-btn:active {
  background: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
