#home {
  text-align: center;
}
#home h1.title {
  letter-spacing: -0.065em;
  width: fit-content;
  margin: 0 auto;
  padding: 0.25em 1em;
}
#home .subtitle {
  text-transform: lowercase;
  color: #696969;
}
#home .search-field {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 27px;
  background: #efedf3;
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #ffffff;
  margin-top: 0px;
  transition: box-shadow 0.25s ease-in-out;
}
#home .search-field.active {
  box-shadow: -7px -7px 12px #aeadb1, 7px 7px 12px #ffffff;
}
#home .search-field.active > button {
  box-shadow: -3px -3px 12px #aeadb1, -7px 7px 12px #efedf3;
}
#home .search-field input[type=search] {
  width: 100%;
  background: none;
  padding: 1.5em 0.75em 1.5em 2em;
  font-weight: 500;
}
#home .search-field > button {
  height: 6.75em;
  padding: 1.5em 3em;
  position: relative;
  left: -0.5em;
  top: 0.35em;
  border: none;
  border-radius: 22px;
  background: linear-gradient(45deg, #ffffff, #efedf3);
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #efedf3;
  transition: all 0.25s ease-in-out;
}
#home .search-field > button:active {
  background: #ffffff;
}
#home .credit {
  margin-top: 100px;
  letter-spacing: -0.05em;
}
#home .credit > a {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -0.07em;
}

#resp-viewer {
  background: #efedf3;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}
#resp-viewer.hidden {
  top: 100%;
  opacity: 0;
}
#resp-viewer.hidden > .container #search-button, #resp-viewer.hidden > .container .url, #resp-viewer.hidden > .container .device-select {
  top: 100%;
}
#resp-viewer > .container {
  text-align: center;
}
#resp-viewer > .container .url {
  border-radius: 30px;
  background: #efedf3;
  box-shadow: 7px 7px 12px #00000013, -7px -7px 12px #00000013;
  cursor: pointer;
  font-weight: 500;
  position: fixed;
  padding: 1.6em;
  top: calc(50% - 290px);
  right: 4.5em;
  z-index: 11;
  height: 90px;
  width: 0px;
  transition-property: width, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
#resp-viewer > .container .url.active {
  width: 400px;
  padding: 0em 2em;
}
#resp-viewer > .container #search-button {
  border-radius: 30px;
  background: #efedf3;
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #ffffff;
  cursor: pointer;
  position: fixed;
  padding: 2em;
  top: calc(50% - 290px);
  right: 4.5em;
  z-index: 11;
  transition: box-shadow 0.5s ease-in-out;
}
#resp-viewer > .container #search-button:active {
  box-shadow: -7px -7px 12px #aeadb1, 7px 7px 12px #ffffff;
}
#resp-viewer > .container > .device-select {
  width: max-content;
  margin: 0 auto;
  padding: 1em;
  border-radius: 30px;
  background: #efedf3;
  box-shadow: 7px 7px 12px #aeadb1, -7px -7px 12px #ffffff;
  position: fixed;
  bottom: calc(50% - 280px);
  right: 4em;
  z-index: 10;
  transition: box-shadow 0.5s ease-in-out;
}
#resp-viewer > .container > .device-select:active {
  box-shadow: -7px -7px 12px #aeadb1, 7px 7px 12px #ffffff;
}
#resp-viewer > .container > .device-select > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#resp-viewer > .container > .device-select > ul > li {
  font-size: 0.75em;
  letter-spacing: -0.03em;
  cursor: pointer;
  padding: 1em 0;
  border-bottom: 1px solid #cccccc;
}
#resp-viewer > .container > .device-select > ul > li:last-child {
  border-bottom: none;
}
#resp-viewer > .container > .device-select > ul > li img {
  height: 1.5em;
}
#resp-viewer > .container > .device-select > ul > li p {
  margin: 0;
  line-height: 150%;
}
#resp-viewer > .container > .device-select > ul > li p > span {
  font-size: 0.9em;
  color: grey;
}
#resp-viewer > .container > .device-select > ul > li p > span::before {
  content: "\a";
  white-space: pre;
}
#resp-viewer > .container .device-preview {
  height: 100%;
  display: flex;
  justify-content: center;
}
#resp-viewer > .container .device-preview > iframe {
  transform: scale(0.6);
  border: none;
  border-radius: 25px;
  box-shadow: 7px 7px 12px #89888b, -7px -7px 12px #ffffff;
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
}

body {
  background: #efedf3;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.05em;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

input[type=search] {
  border: none;
  font-size: 1.25em;
  outline: none;
  position: relative;
  top: -0.02em;
}
input[type=search], input[type=search]::placeholder {
  letter-spacing: -0.05em;
}
input[type=search]::placeholder {
  font-family: "DM Sans", sans-serif;
}

button {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#credit {
  position: fixed;
  z-index: 100;
  letter-spacing: -0.04em;
  font-weight: 400;
  bottom: 1em;
  left: calc(50% - 100px);
  color: #818181;
  opacity: 0.6;
  transition: opacity 0.25s ease-in-out;
}
#credit:hover {
  opacity: 1;
}
#credit > a > img {
  height: 1.5em;
  position: relative;
  top: 0.4em;
}
#credit > a {
  font-weight: 600;
  color: #222;
  letter-spacing: -0.05em;
}

/*# sourceMappingURL=App.css.map */
