@import "./variables.scss";

// Components
@import "./components/home.scss";
@import "./components/search.scss";
@import "./components/device-select.scss";
@import "./components/resp-viewer.scss";

.App, #root {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
}

body {
    background: $background_color;
    font-family: $primary_font;
    letter-spacing: -0.05em;
    font-size: 22px;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

input[type=search]{
    background: none;
    border: none;
    font-size: 1.25em;
    font-weight: 600;
    outline: none;
    position: relative;
    top: -0.02em;

    &, &::placeholder{
        letter-spacing: -0.04em;
    }

    &::placeholder {
        font-family: $primary_font;
    }
}

button {
    outline: none;
}

button.btn {
    border: none;
    border-radius: 1em;
    display: block;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: -0.025em;
    margin: 0.5em auto;
    padding: 1.25em;
    text-align: center;
    transition: background ease-in-out 0.15s;
    width: 100%;
    max-width: 400px;
}

button.primary-btn {
    background-color: $brand_color;
    box-shadow: 3px 3px 8px rgba($color: $brand_color, $alpha: 0.4);
    color: #fff;

    &:active {
        background: $brand_color_darker;
    }
}

button.secondary-btn {
    background-color: #ffffff;
    border: 2px solid #818181;
    color: #818181;

    &:active {
        background: #f3f3f3;
    }
}

a {
    color: inherit;
    text-decoration: none;
}
