@import "./variables.scss";

// Components
@import "./components/home.scss";

.App {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

body {
    font-family: $primary_font;
    letter-spacing: -0.05em;
}

.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
}

input[type=search]{
    background: #e3e3e3;
    border: none;
    border-radius: 5em;
    font-size: 1.25em;
    outline: none;
    position: relative;
    top: -0.02em;

    &, &::placeholder{
        letter-spacing: -0.045em;
    }

    &::placeholder {
        font-family: $primary_font;
    }
}

button {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}